.ReviewsContainerProduct {
  padding: 20px;
  padding-top: 2px;
  background-color: beige; 
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 4rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ReviewsContainerProduct button {
  background-color: #ff8c00;
  color: #fff;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out;
}

.ReviewsContainerProduct button:hover {
  background-color: #e07d00;
}

.ReviewsContainerProduct label {
  display: block;
  color: #000000;
  font-size: 18px;
  margin-top: 10px;
}

.ReviewsContainerProduct select,
.ReviewsContainerProduct textarea {
  width: 100%;
  padding: 12px;
  margin-top: 13px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  box-sizing: border-box;
}

.ReviewsContainerProduct .ratingSelect {
  text-align: left;
  color: #000000;
}
.ReviewsContainerProduct .ratingSelect .text{
  color: #000000;
  font-weight: 500;
  font-size: 16pt;
  margin-top: 20px;
  text-align: left;
}

.ReviewsContainerProduct .commentContainer {
  margin-top: 1px;
  margin-left: 0px;
}

.ReviewsContainerProduct .commentContainer .text {
  color: #333;
  font-weight: 500;
}

.ReviewsContainerProduct select option {
  font-size: 16px;
}

.star {
  font-size: 24px;
  font-weight: bold;
  margin: 0 5px;
}
