.ReviewsContainerProduct {
  padding: 20px;
  padding-top: 2px;
  background-color: beige; /* Cambiado a un tono más claro */
  border-radius: 12px; /* Ajustado el radio del borde */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 4rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid orange;

}

.ReviewsContainerProduct button {
  background-color: #ff8c00; /* Un tono más naranja */
  color: #fff; /* Texto en blanco */
  padding: 12px 24px; /* Aumentamos el padding */
  border: none;
  cursor: pointer;
  border-radius: 8px; /* Un radio de borde más redondeado */
  transition: background-color 0.3s ease-in-out;
}

.ReviewsContainerProduct button:hover {
  background-color: #e07d00; /* Cambiamos el tono al pasar el ratón */
}

.ReviewsContainerProduct label {
  display: block;
  margin-top: 1px; /* Ajustamos el margen superior */
}

.ReviewsContainerProduct select,
.ReviewsContainerProduct textarea {
  width: 100%;
  padding: 12px;
  margin-top: 10px; /* Ajustamos el margen superior */
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px; /* Incrementamos el tamaño de fuente */
  box-sizing: border-box;
}

.ReviewsContainerProduct .ratingSelect {
  text-align: center;
  color: #000000;
}
.ReviewsContainerProduct .ratingSelect .text{
  color: #000000;
  font-weight: 500;
  font-size: 16pt;
  text-align: center;
}

.ReviewsContainerProduct .commentContainer {
  margin-top: 1px; /* Ajustamos el margen superior */
  margin-left: 0px;
}

.ReviewsContainerProduct .commentContainer .text {
  color: #333; /* Cambiamos el color del texto */
  font-weight: 500;
}

.ReviewsContainerProduct select option {
  font-size: 16px; /* Incrementamos el tamaño de fuente */
}

.star {
  font-size: 24px; /* Aumentamos el tamaño de la estrella */
  font-weight: bold;
  margin: 0 5px; /* Ajustamos el margen */
}
