
.ReviewsContainer {
  padding: 20px;
  background-color: beige; /* Cambiado a un tono más claro */
  border-radius: 12px; /* Ajustado el radio del borde */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 4rem 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid orange;

}

.ReviewsContainer h1{
  font-size: 28px;
  color:orange;
  text-align: center;
}

.ReviewsContainer button {
  background-color: #ffc000;
  color: #000000;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  width: 200px;
}

.ReviewsContainer button:hover {
  background-color: #e1a902;
}

.ReviewsContainer label {
  display: block;
  margin-top: 12px; /* Ajustado el margen superior */
  color: #000000; /* Cambiado a texto negro */
}

.ReviewsContainer select,
.ReviewsContainer textarea {
  border-radius: 8px; /* Ajustado el radio del borde */
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.ReviewsContainer .ratingSelect {
  margin-top: 20px;
  margin-left: 3px;
}

.ReviewsContainer .ratingSelect .text {
  color: #000000;
}

.ReviewsContainer .commentContainer {
  margin-top: 10px;
  margin-left: 3px;
}

.ReviewsContainer .commentContainer .text {
  color: #000000;
}

.star {
  font-size: 24px; /* Ajustado el tamaño de las estrellas */
  font-weight: bold;
  line-height: 2;
  margin: 0 4px; /* Ajustado el margen */
  color: orange;
}

.rating{
  color: black;
}
.buttonContainer{
  padding: 1rem;
  width: 100%;
  text-align: center;
}