.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background-color: #ffffff;
  margin-left: -5px;
  padding: 1px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid black;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  z-index: 1;
}

.navbar-container {
  display: flex;
  align-items: center;
  margin-right: 4rem;
  width: 100%;
}

.logo img {
  width: 160%;
  height: 160%;
  margin-left: -130px;
  margin-top: -90px;
  object-fit: contain; 
}
.logo::after {
  content: '';
  border-right: 3px solid black;
  height: 100%; 
  position: absolute;
  top: 0;
  margin-left: -10px;
}

.filters {
  display: flex;
  flex-direction: column; /* Acomoda los elementos en columna (de arriba hacia abajo) */
  align-items: flex-start; /* Alinea los elementos a la izquierda */
}
.filters .dropdown {
  position: relative;
  margin-right: 10px;
}
.filters .filter-button {
  font-family: 'Secular One', sans-serif;
  padding: 6px 12px;
  background-color: #FFC000;
  border: 2px solid #000000;
  color: #000000;
  cursor: pointer;
  font-weight: bold;
  display: inline-block; /* Cambiado a inline-block */
  margin-right: 30px; /* Espacio entre los botones */
  position: relative; /* Agregado */
  text-align: left; /* Alinea el texto a la izquierda */
}

.filters .dropdown:hover .filter-button::after {
  transform: rotate(90deg); /* Triángulo hacia abajo al desplegar */
}

.dropdown-content {
  display: none; /* Ocultar el contenido por defecto */
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 12px 14px rgba(0, 0, 0, 0.1);
  z-index: 1;
  margin-top: 2px;
}

.filters .dropdown:hover .dropdown-content {
  display: block; /* Mostrar al hacer hover */
  width: max-content; /* Ancho igual al contenido */
  
}

.filters .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

}
.filters .dropdown-content-inner {
  display: flex;
  flex-direction: column-reverse;
  max-height: 100px; /* Establece la altura máxima */
  overflow-y: auto; /* Permite desplazamiento vertical si es necesario */
  padding: 5px 0; /* Agrega algo de espacio entre las opciones */
}

.filters .dropdown-content-inner a {
  margin-top: 2px;
  padding: 10px 16px;
  border-bottom: 1px solid #000000; /* Línea separadora entre opciones */
}

/* Ajusta la altura y la aparición de la barra de desplazamiento según las opciones */
.filters .dropdown-content .show-scroll {
  margin-top: 5px;
  max-height: 120px; /* Establece la altura máxima antes de mostrar la barra de desplazamiento */
}

.filters .dropdown-content a:hover {
  background-color: #ddd;
}

.search-bar {
  margin-left: -30px;
  margin-right: 217px;
  display: flex;
  align-items: center;
  width: 500px; 
}

.search-bar input {
  font-family: 'Secular One', sans-serif;
  font-size: 15px;
  flex: 1;
  padding: 8px;
  background-color: #ededed;
  border: 1px solid #ccc;
  border-radius: 1px;
  margin-left: 20px;
}

.search-bar button {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 1px;
  background-color: #ededed;
  cursor: pointer;
}
.search-bar button:hover {
  border-color: #000000; 
  border: 1.5px solid;
}
.search-bar button img {
  width: 15px;
  height: auto;
}

.search-bar::after {
  content: '';
  border-right: 3px solid black; 
  height: 100%;
  position: relative; 
  top: 0;
  margin-left: -100px; 
}


.user-actions button {
  font-family: 'Secular One', sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 auto; 
  margin-left: 75px;
  font-size: 15px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: 2px solid black; 
  padding: 6px 12px;
  border-radius: 5px;
}

.user-actions button:hover {
  border-color: #000000; 
  border: 2px solid;
  background-color:#ededed;
}


.cart-icon {
  position: relative;
  display: flex;
  justify-content: flex-end; /* Alinea al final (derecha) */
}
.cart-icon button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  text-decoration: none;
  margin-right: -10px;
}
.cart-icon button:hover {
  border: none; 
}

.cart-icon button img {
  margin-right: -195px;
  margin-top: 5px;
  width: 35px; 
  height: auto;
}
.buttonCreate {
  display: flex;
  justify-content: center; /* Alinea al centro */
}

.buttonCreate .link {
  font-family: 'Secular One', sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 auto; 
  margin-left: 35px;
  font-size: 15px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: 2px solid black; 
  padding: 6px 12px;
  border-radius: 5px;
  text-decoration: none;
}

.buttonCreate .link:hover {
  background-color:#ededed;
  color: #000000;
}
/* .buttonCreate::after {
  content: '';
  border-right: 3px solid black;
  height: 100%; 
  position: absolute;
  top: 0;
  margin-left: 270px;
} */

.back-to-home-button {
  font-family: 'Secular One', sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 15px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  background-color: #FFC000;
  border: 2px solid black; 
  margin-left: 10px;
  padding: 6px 12px;
  border-radius: 5px;
}
.back-to-home-button::after{
  margin-top: -60px;
  content: '';
  border-right: 3px solid black;
  height: 155px; 
  position: absolute;
  top: 0;
  margin-left: 770px;
}
.inputContainer {
  display: flex;
  align-items: center;
}

.inputRating {
  width: 30px;
  font-size: 13px;
  background-color: white;
  color: #000000;
  border: 1px solid #000000;
  padding: 7px;
  border-radius: 3px;
  margin-left: 5px;
}
.filter-button .slider-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente */
  margin-top: 10px; /* Ajusta el margen superior según sea necesario */
}

.filter-button .slider-container input {
  background-color: #ffffff;
  width: 100%; /* Ajusta el ancho del slider */
}

.filter-button .slider-container .slider-label {
  text-align: center; /* Centra el texto */
  margin-bottom: 5px; /* Ajusta el espacio entre el texto y el slider */
}

.filter-button .slider-container .slider-value {
  text-align: center; /* Centra el valor */
  margin-top: -7px; /* Ajusta el espacio entre el slider y el valor */
}
